* {
    /*border: 1px solid black;*/
}

#author {
    margin-left: 10px;
}

#title {
    margin-bottom: 10px;
}

#ArticlePage{
    margin-top: 20px;
}

#ArticleList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.votes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid black;*/
}

#vote-number {
    text-align: center;
    vertical-align: middle;
}