
#author {
    margin-left: 10px;
}

#title {
    margin-bottom: 10px;
}

#ArticlePage{
    margin-top: 20px;
    margin-bottom: 20px;
}

#ArticleList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.votes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#vote-number {
    text-align: center;
    line-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.votes-container-comments {
    display: flex;
    flex-direction: row;
}

.form {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

#comment-link {
    margin-top: 20px;
}


#delete-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    text-decoration-line: none;    
}

#heading{
    color: #ff3860;
    margin-bottom: 15px;
}

#topic-heading-container-football {
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: url('./backgrounds/soccer-stadium.jpg');
    background-position: center;
}
#topic-heading-container-cooking {
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: url('./backgrounds/cooking-banner.jpg')
}
#topic-heading-container-coding {
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: url('./backgrounds/devcentralimage.jpg')
}

#topic-heading{
    color: white;
}

 #button {
     margin-left: 10px;
     outline: 0;
     cursor: pointer;
 }

 .comment-list {
     margin-bottom: 20px;
 }

.spinner {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    color: #ff3860;
}

#text-box {
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 400px;
    height: 100px;
}

#article-card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
}

#flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flex-centered-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#red-icon {
  color: #ff3860;
  cursor: pointer;
  }
#red-icon:hover {
  color: darkgray;
  }

#article-body {
    margin-top: 30px;
    margin-bottom: 40px;
}

i:hover { 
    color: #ff3860;
}

.nav-category {
    color: white;
}
.nav-category:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#nav {
    margin-right: 10px;
}

::-webkit-input-placeholder { 
  color: #ff3860;
  font-size: 18px;
}

#footer-title {
    color: #ff3860;
    text-decoration: none;
}
#footer-name {
    color: #ff3860;
    text-decoration: none;
    display: inline-block;
}
#footer-github {
    color: #ff3860;
    text-decoration: none;
}

