* {
    /*border: 1px solid black;*/
}

#author {
    margin-left: 10px;
}

#title {
    margin-bottom: 10px;
}

#ArticlePage{
    margin-top: 20px;
}

#ArticleList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.votes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#vote-number {
    text-align: center;
    line-height: 100%;
    margin-bottom: 5px;
    /*border: 1px solid black;*/

}

.votes-container-comments {
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
}

.form {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

#comment-link {
    margin-top: 20px;
}


/*#article-card-title {
    text-decoration: none;
    color: #ff3860;
}*/